*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f3ede6;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.tt-header {
}

.tt-header li {
  display: inline-block;
  margin: 10px;
}

.tt-header nav {
  display: grid;
  justify-content: end;
  margin-top: 20px;
  margin-right: 60px;
  font-size: 2.1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
}

a {
  color: #648181;
}

.tt-header-line {
  border-bottom: 2px solid #bfcdcc;
}

.tt-content-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 40px;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

.tt-content-1-text h2 {
  font-size: 0.8em;
  color: #98a8a4;
}

.tt-content-1-text {
  padding-top: 30%;
  order: 2;
}

.tt-content-1-img {
  border-radius: 30px;
  order: 1;
  padding-right: 20px;
  width: fit-content;
}

.tt-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
